In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('/kaggle/input/linking-writing-processes-to-writing-quality/train_logs.csv')
test = pd.read_csv('/kaggle/input/linking-writing-processes-to-writing-quality/test_logs.csv')
train_score = pd.read_csv('/kaggle/input/linking-writing-processes-to-writing-quality/train_scores.csv')

In [3]:
print(train["id"].unique())

['001519c8' '0022f953' '0042269b' ... 'ffccd6fd' 'ffec5b38' 'fff05981']

In [4]:
print(train["text_change"].unique())

['NoChange' 'q' ' ' ... 'qq qqq qqqq qqqqq' 'qq qqqqq qqqq qq qqqqq '
 '\n qqqqq qqqqqq qqqqqqqqqq qq q qqqqqqqq qqq qqq qqqq qqqqqq q qqq. \n\nqqqq qqq qq qqqqqqq qqq:\n- \n- qqq qqqqqqq qqqq q qqqqqq qqqqqqqq qq qqqq qqqqqqqq ']

In [5]:
train.head(5)

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

In [6]:
train.shape

(8405898, 11)

In [7]:
train.describe()

,event_id,down_time,up_time,action_time,cursor_position,word_count
count,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06
mean,2.067649e+03,7.935603e+05,7.936584e+05,9.808498e+01,1.222964e+03,2.314687e+02
std,1.588284e+03,5.149451e+05,5.149428e+05,2.533985e+02,9.485242e+02,1.759088e+02
min,1.000000e+00,1.060000e+02,2.520000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.520000e+02,3.731842e+05,3.732820e+05,6.600000e+01,4.990000e+02,9.600000e+01
50%,1.726000e+03,7.208860e+05,7.209800e+05,9.300000e+01,1.043000e+03,2.000000e+02
75%,2.926000e+03,1.163042e+06,1.163141e+06,1.220000e+02,1.706000e+03,3.270000e+02
max,1.287600e+04,8.313630e+06,8.313707e+06,4.474700e+05,7.802000e+03,1.326000e+03

In [8]:
train[train["id"] == "0022f953"]

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
2557,0022f953,1,30623,30853,230,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2558,0022f953,2,32549,32549,0,Nonproduction,Shift,Shift,NoChange,0,0
2559,0022f953,3,32706,32842,136,Input,q,q,q,1,1
2560,0022f953,4,32826,32946,120,Input,q,q,q,2,1
2561,0022f953,5,32922,33050,128,Input,q,q,q,3,1
...,...,...,...,...,...,...,...,...,...,...,...
5006,0022f953,2450,1673714,1673745,31,Nonproduction,ArrowRight,ArrowRight,NoChange,1386,320
5007,0022f953,2451,1673745,1673780,35,Nonproduction,ArrowRight,ArrowRight,NoChange,1387,320
5008,0022f953,2452,1673780,1673782,2,Nonproduction,ArrowRight,ArrowRight,NoChange,1388,320
5009,0022f953,2453,1788315,1788393,78,Nonproduction,ArrowDown,ArrowDown,NoChange,1432,320
5010,0022f953,2454,1788842,1788969,127,Nonproduction,ArrowDown,ArrowDown,NoChange,1519,320

In [9]:
train[(train["id"] == "0022f953") & (train["activity"] == "Input")] .sort_values(by = "event_id")

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
2559,0022f953,3,32706,32842,136,Input,q,q,q,1,1
2560,0022f953,4,32826,32946,120,Input,q,q,q,2,1
2561,0022f953,5,32922,33050,128,Input,q,q,q,3,1
2562,0022f953,6,33010,33130,120,Input,q,q,q,4,1
2563,0022f953,7,33106,33330,224,Input,Space,Space,,5,1
...,...,...,...,...,...,...,...,...,...,...,...
4911,0022f953,2355,1611338,1611521,183,Input,q,q,q,1475,322
4912,0022f953,2356,1611495,1611560,65,Input,q,q,q,1476,322
4913,0022f953,2357,1611647,1611737,90,Input,q,q,q,1477,322
4914,0022f953,2358,1611879,1612064,185,Input,q,q,q,1478,322
4915,0022f953,2359,1611959,1612149,190,Input,Space,Space,,1479,323